body{

    background:#F3F6FB;

}

.contenedor-password{

    width:100%;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#F3F6FB;

}


.card-password{

    width:500px;

    background:white;

    border-radius:15px;

    padding:35px;

    box-shadow:0 20px 40px rgba(0,0,0,.15);

}


.titulo{

    text-align:center;

    margin-bottom:25px;

}


.titulo h2{

    color:#0B2B68;

    margin-bottom:10px;

}


.titulo p{

    color:#666;

}


.grupo{

    margin-bottom:20px;

}


.grupo label{

    display:block;

    margin-bottom:8px;

    font-weight:bold;

}


.input{

    width:100%;

    padding:13px;

    border-radius:8px;

    border:1px solid #D8D8D8;

    font-size:15px;

}


.input:focus{

    outline:none;

    border:1px solid #0B2B68;

}


.mostrar{

    display:flex;

    align-items:center;

    gap:10px;

    margin-bottom:25px;

}


.btn-guardar{

    width:100%;

    padding:15px;

    background:#0B2B68;

    color:white;

    border:none;

    border-radius:8px;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}


.btn-guardar:hover{

    background:#143D8C;

}


.btn-guardar:disabled{

    background:#B7B7B7;

}
